*{
    padding: 0;
    margin: 0;
}
.wrap{
    margin: 0 auto;
    width: 350px;
    height: 600px;
    border:2px solid #000;
    position: relative;
    margin-bottom: 100px;
}
.slider{
    width: 350px;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slider img{
    width: 350px;
    height: 600px;
    position: absolute;
    opacity: 1;
    transition: all ease 1s;
}

.slider-opacity{
    opacity: 0;
}